
html{
    background-color: bisque;
}
h1, h2{
    font-family: 'Courier New', Courier, monospace;
    font-variant: small-caps;
}
nav {
    flex: 0 1 5%;
    font-size: larger;
}
p {
    font-family:Arial, Helvetica, sans-serif
}
.activePage {
    font-weight: bold;
}
.textGrid {
    grid-area: text;
}
.imgGrid {
    grid-area: image;
}
.grid-container {
    display: grid;
    grid-template-areas: 'text image';
}